*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-image: url('./assets/img/background-4.png'); */
}


.App {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* display: flex; */
  -webkit-box-align: center;
  align-items: center;
  /* background: #111111; */
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 10px solid #48bcd0;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px;
  width: 100%;
  /* margin-top: 70px; */
  background: #F3F4F6;
  margin: auto;
  border-radius: 10px;
  padding: 1rem;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 0.7rem 0rem;
  border-bottom: 1px solid #dee2e6;
}

h1 {
  margin-bottom: 2rem;
}

p {
  color: #000;
  display: inline-block;
}

h1 {
  color: ;
}

.right {
  margin-top: -40px;
}

.logo img {
  width: 4rem;
}

span {
  color: #6B7280;
  /* font-weight: bold; */
}


@media only screen and (max-width: 600px) {
 
  .section {
    grid-gap: 20px;
    max-width: 350px;
    width: 100%;
  }

  .App {
    border: 5px solid #48bcd0;
  }

}

@media only screen and (max-width: 400px) {
 
  .section {
    grid-gap: 20px;
    max-width: 300px;
    width: 100%;
  }

}


@media only screen and (max-width: 350px) {
 
  .section {
    grid-gap: 20px;
    max-width: 250px;
    width: 100%;
  }

}



